@font-face {
  font-family: 'TradeGothic LT Extended';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/TradeGothicLT-RegularExtended.ttf") format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'TradeGothic LT Extended';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/TradeGothicLT-BoldExtended.ttf") format('truetype');
  font-display: swap;
}
