:root {

  /* Container */
	--container-width: 1272px;
	--container-padding: 20px;

  /* Fonts */
	--font-main: 'Montserrat', sans-serif;
	--font-accent: 'TradeGothic LT Extended', sans-serif;

  /* Colors */
	--page-bg: #fafbfc;
	--text-color: #112211;
  /* --text-muted:; */
  --input-text: #1c1b1f;
  --input-border: #79747e;

	--accent: #8dd3bb;
  --accent-hover: #9be0c8;
  --accent-focus: #a5ebd3;
  --accent-active: #82cbb2;
  --important: #ff8682;
  --white: #ffffff;
  --gray: #4c4850;
  --dark: #112211;
  --black: #000000;

  --dark-green: #546869;

  /* Other */
  --accent-shadow: 0 4px 16px 0 rgba(141, 211, 187, 0.15);
  --dark-shadow: 0 4px 16px 0 rgba(17, 34, 17, 0.05);

  /* Viewports */
  --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}
