:root {
	--container-width: 1272px;
	--container-padding: 20px;

	--font-main: 'Montserrat', sans-serif;
	--font-accent: 'TradeGothic LT Extended', sans-serif;

	--page-bg: #fafbfc;
	--text-color: #112211;
	--accent: #8dd3bb;

  --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}
