.account__header {
  position: relative;
  flex-direction: column;

  margin-bottom: 32px;

  border-radius: 12px;
  overflow: hidden;
}

.account__avatar {
  

  /* position: absolute;
  top: 280px; */

  width: 160px;
  height: 160px;
  overflow: hidden;

  margin-bottom: 24px;
  
  border: solid 4px var(--important);
  border-radius: 50%;
}

.account__img {

}

.account__edit {

}

.account__icon {

}

.account__name {
  margin-bottom: 8px;

  font-size: 24px;
  font-weight: 600;
}

.account__mail {
  color: var(--text-75);
  font-size: 16px;
}

.account__tabs {
  padding: 16px 24px;
}

.account__tab {
  width: 33.3333%;
}

.account__tab-title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
}

.account__content {
  margin-bottom: 40px;
}

.account__wrapper {

}

