.booking-flight-form {
  display: grid;
  grid-template-columns: 324px 140px 324px 324px;
  grid-template-rows: 56px 48px;
  gap: 32px 24px;
}

/* .booking-flight-form__label {
  min-height: 56px;

  
  border: 1px solid var(--input-border);
  border-radius: 4px;

  color: var(--text-color);
  font-size: 14px;
} */

.booking-flight-form__buttons {
  grid-column: 4/5;
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}