.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 4px;

  height: 40px;
  padding: 8px 16px;

  border-radius: 4px;

  color: var(--text-color);
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-align: center;

  transition: border 0.2s linear, background-color 0.3s linear, color 0.3s ease-in, outline 0.3s ease-in-out;

  &--small {
    height: 32px;
  }

  &--large {
    height: 48px;
  }

  &--mini {
    width: 40px;
    font-size: 12px;
  }

  &--white {
    background-color: var(--white);
    border: 2px solid transparent;

    &:focus-visible {
      border: 2px solid var(--dark);
      outline: 1px solid var(--white);
    }

    &:hover {
      background-color: var(--dark);
      color: var(--white);
      transition: background-color 0.5s linear, color 0.5s ease-in;
    }

    &:active {
      border: 2px solid var(--white);
      outline: 1px solid var(--dark);
    }

    &:disabled {
      background-color: #d2d1d3;
      color: #8f8c91;
    }
  }

  &--dark {
    background-color: var(--dark);
    border: 2px solid transparent;
    color: var(--white);

    &:focus-visible {
      border: 2px solid var(--white);
      outline: 1px solid var(--dark);
    }

    &:hover {
      background-color: var(--white);
      color: var(--dark);
      /* border: 2px solid var(--accent); */
    }

    &:active {
      border: 2px solid var(--dark);
      outline: 1px solid var(--white);
    }

    &:disabled {
      background-color: #d2d1d3;
      color: #8f8c91;
    }
  }

  &--primary {
    background-color: var(--accent);
    border: 2px solid transparent;

    &:focus-visible {
      background-color: var(--accent-focus);
      border: 2px solid var(--white);
      outline: 1px solid var(--accent);
    }

    &:hover {
      background-color: var(--accent-hover);
    }

    &:active {
      background-color: var(--accent-active);
      border: 2px solid transparent;
    }

    &:disabled {
      background-color: #d2d1d3;
      color: #8f8c91;
    }
  }

  &--secondary {
    background-color: transparent;
    border: 1px solid var(--accent);
    outline: 1px solid transparent;

    &:focus-visible {
      outline: 1px solid var(--accent);
    }

    &:hover {
      border: 1px solid var(--accent-hover);
      outline: 1px var(--accent-hover) solid;
    }

    &:active {
      border-color: var(--accent-active);
    }

    &:disabled {
      border-color: #d2d1d3;
      color: #8f8c91;
    }
  }

  &--ghost {
    padding: 8px 0;
    outline: 1px solid transparent;

    &:focus-visible {
      outline: 1px solid var(--accent);
      outline-offset: 1px;
      color: var(--accent-focus);
    }

    &:hover {
      color: var(--accent-hover);
    }

    &:active {
      color: var(--accent-active);
    }

    &:disabled {
      color: #8f8c91;
    }
  }
}
