.button-login {
  padding: 15px 0;

  color: var(--white);
  
  font-size: 14px;
  font-weight: 600;

  transition: color 0.2s ease-in;
}

.button-login:hover {
  color: var(--accent-hover);
}

.button-login:focus {
  color: var(--white);
}

