.flight-card {
  position: relative;
  padding: 24px 16px;

  display: grid;
  grid-template-columns: 160px 648px;
  grid-template-rows: auto;

  background-color: var(--white);
  border-radius: 12px;
  box-shadow: var(--dark-shadow);

  &--favourite {
    grid-template-columns: 320px calc(1232px - 336px);
  }
}

.flight-card__airline-logo {
  grid-column: 1 / 2;
  display: block;
  margin: 0 auto;
}

.flight-card__details {
  grid-column: 2 / -2;
  padding: 0 24px;
}

.flight-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 16px;
}

.flight-card__airline-rating {
  display: flex;
  align-items: center;

  font-size: 12px;
}

.flight-card__airline-rating-text {
  padding: 0 4px 0 8px;
  font-weight: 500;
}

.flight-card__price {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: var(--text-75);

  span {
    color: var(--important);
    font-size: 24px;
    font-weight: 700;
  }
}

.flight-card__conditions {
  position: relative;
  margin-bottom: 33px;

  &::after {
    content: "";
    position: absolute;
    bottom: -17px;
    width: 100%;
    height: 1px;
    background-color: var(--dark);
    opacity: 0.25;
  }
}

.flight-card__destination-flight,
.flight-card__return-flight {
  position: relative;
  display: grid;
  grid-template-columns: 206px auto 1fr;
  grid-template-rows: 20px 17px;
  gap: 4px 40px;
  align-items: center;

  margin-bottom: 16px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: url("./../img/icons/checkbox.svg") no-repeat left center;
    opacity: 0.25;
  }
}

.flight-card__arrival-departure-time {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  padding-left: 32px;

  font-size: 16px;
  font-weight: 600;
}

.flight-card__transplants {
  grid-column: 2 / 3;

  opacity: 0.78;
  font-size: 16px;
  font-weight: 600;
}

.flight-card__travel-time {
  grid-column: 3 / 4;

  opacity: 0.78;
  font-size: 16px;
  font-weight: 600;
}

.flight-card__airline {
  padding-left: 32px;

  color: var(--text-40);
  font-size: 14px;
}

.flight-card__flight-number {
  grid-row: 2 / 3;
  grid-column: 3 / 4;

  color: var(--text-40);
  font-size: 14px;
}

.flight-card__buttons {  
  display: flex;
}

.flight-card__favorite-button {
  width: 48px;
  margin-right: 16px;
  padding: 8px 0;

  flex-shrink: 0;

  &:hover > svg {
    color: var(--accent);
    transition: color 0.3s ease-in-out;
  }
}

.flight-card__details-button {
  flex-grow: 1;
}
