.footer {
  position: relative;
  margin-top: 151px;
  padding: 218px 104px 64px;

	background-color: var(--accent);
}

.footer__form {
  position: absolute;
  top: -151px;
  left: 50%;
  transform: translateX(-50%);

  width: calc(var(--container-width) - (var(--container-padding) * 2));
  min-height: 305px;
  padding: 24px;

  background-color: #cdeae1;
  background-image: url(./../../img/icons/mailbox-with-lowered-flag.svg);
  background-repeat: no-repeat;
  background-size: 400px 305px;
  background-position: center right 24px;
  border-radius: 20px;
}

.footer__content {
  display: flex;
}

.footer__social {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.footer__social-link {
  color: var(--text-color);

  transition: color 0.2s linear;

  &:hover {
    color: var(--white);
  }
}

.footer__nav {
  display: flex;
  gap: 24px;
  margin-left: 140px;
}