.form-field {
  position: relative;
}

.form-field__caption {
  position: absolute;
  top: -8px;
  left: 12px;
  z-index: 2;

  padding: 0 4px;

  background-color: var(--white);
}

.form-field__input {
  position: relative;
  width: 100%;
  height: 56px;
  padding: 8px 16px;

  background-color: var(--white);
  border: 1px solid #79747e;
  border-radius: 4px;

  color: var(--input-text);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;

  &::placeholder {
    opacity: 0.5;
  }

  &:focus,
  &:active {
    border: 1px solid var(--accent);
    outline: 1px solid var(--accent);
  }

  &:disabled {
    border-color: rgba(28, 27, 31, 0.12);
    color: rgba(28, 27, 31, 0.12);
  }

  &--icon-before {
    padding-left: 48px;
  }

  &--icon-after {
    padding-right: 48px;
  }

  /* &--password {
    position: relative;
  } */

  /* &:disabled + .form-field__caption {
    color: rgba(28, 27, 31, 0.12);
  } */
}

.form-field__hide-button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 56px;
  height: 56px;
  z-index: 2;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  background-image: url("./../img/icons/eye-off-icon.svg");

  &--off {
    background-image: url("./../img/icons/eye-on-icon.svg");
  }
}
