.hero__intro {
  position: relative;
  width: 1380px;
  height: 600px;
  margin: 0 auto 183px;

  background: linear-gradient(
    180deg, 
    rgba(0, 0, 0, 0.00) 0%, 
    rgba(0, 0, 0, 0.60) 100%
    ),
    url("./../../img/hero-image.jpg") no-repeat center;
  background-size: cover;
  border-radius: 24px;
}

.hero__slogan {
  margin: 0 auto;
  padding-top: 150px;

  color: var(--white);
  text-align: center;
}

.hero__subtitle {
  margin-bottom: 4px;

  font-family: var(--font-accent);
  font-size: 45px;
  font-weight: 700;
}

.hero__title {
  margin-bottom: 16px;

  font-family: var(--font-accent);
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__text {
  font-size: 20px;
  font-weight: 600;
}

.hero__form {
  position: absolute;
  bottom: -183px;
  left: 50%;
  transform: translateX(-50%);

  width: calc(var(--container-width) - (var(--container-padding) * 2));
  padding: 16px 24px 32px;

  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 4px 16px 0px rgba(141, 211, 187, 0.15);
}

.hero__form-tabs {
  display: flex;
  gap: 28px 65px;
  margin-bottom: 48px;
  padding: 12px 0;
}

