.hotel-search-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.hotel-search-section__filters {
  width: 100%;
  max-width: 343px;
}

.hotel-search-section__content {
  position: relative;
  width: 100%;
  max-width: 840px;

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: calc(100% - 72px);
    top: 0;
    left: -16px;

    background-color: var(--dark);
    opacity: 0.25;
  }
}

.hotel-search-section__sorting-tabs {
  margin-bottom: 32px;
}
