.icon {
  background-repeat: no-repeat;
  background-size: 24px 24px;

  &--right {
    background-position: right 12px center;
  }

  &--left {
    background-position: left 12px center;
  }

  &--rooms-guests {
    background-image: 
      url("./../img/icons/user-icon.svg"), 
      url("./../img/icons/chevron-down-icon.svg");
    background-position: 
      left 12px center, 
      right 12px center;
  }

  &--swap-horizontal {
    background-image: url("./../img/icons/swap-horizontal-icon.svg");
  }

  &--chevron-down {
    background-image: url("./../img/icons/chevron-down-icon.svg");
  }

  &--bed {
    background-image: url("./../img/icons/bed-icon.svg");
  }

  &--calendar {
    background-image: url("./../img/icons/calendar-icon.svg");
  }

  /* &--user {
    background-image: url("./../img/icons/user-icon.svg");
  } */

  &--eye-off {
    background-image: url("./../img/icons/eye-off-icon.svg");
  }
}
