.link {
  color: var(--text-color);

  transition: color 0.2s ease-in-out;

  &:focus-visible {
    outline: 1px solid var(--accent);
    outline-offset: 3px;
    border-radius: 4px;
    color: var(--accent-hover);
  }

  &[href]:hover {
    color: var(--accent-hover);
  }

  &:active {
    color: var(--accent-active);
  }
}
