.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.nav__list {
  display: flex;
  gap: 32px;
}

.nav__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text-color);
  
  &--white {
    color: var(--white);
  }
}

.nav__item:hover .nav__link,
.nav__item:hover .nav__icon {
  color: var(--accent);
}

.nav__icon {
  cursor: pointer;

  transition: color 0.2s ease-in;
}

.nav__link {
  padding-left: 4px;

  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;

  transition: color 0.2s ease-in;

  &--white {
    color: var(--white);
  }
}

.nav__link.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -31px;

  display: block;
  width: 100%;
  height: 5px;

  background-color: var(--accent);
}

.nav__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.nav__submenu {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 2;
}
