.range {
  position: relative;
  width: 319px;
  height: 2px;
  margin: 11px 12px 26px;

  background-color: rgba(17, 34, 17, 0.3);
}

.range_bar {
  position: relative;
  height: 2px;
  background-color: var(--dark);
}

.range_toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: var(--accent);
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-hover);
  }

  &:focus-visible {
    outline: 2px solid var(--accent-focus);
  }

  &:active {
    background-color: var(--accent-active);
  }

  &--min {
    left: -12px;
    top: -11px;
  }

  &--max {
    right: -12px;
    top: -11px;
  }
}

.range_label {
  position: absolute;
  top: 16px;

  font-size: 12px;
  font-weight: 500;

  &--min {

    left: -16px;
  }

  &--max {
    right: -16px;
  }
}
