.search-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.search-section__filters {
  width: 100%;
  max-width: 343px;
}

.search-section__listing {
  position: relative;
  width: 100%;
  max-width: 840px;
}

.search-section__listing::before {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% - 72px);
  top: 0;
  left: -16px;

  background-color: var(--dark);
  opacity: 0.25;
}

.search-section__sorting {
  margin-bottom: 24px;
  padding: 16px 24px;

  background-color: var(--white);
  border-radius: 12px;
  box-shadow: var(--dark-shadow);
}

.search-section__caption {
  display: flex;
  justify-content: space-between;
  
  margin-bottom: 24px;
}

.search-section__flights-number {
  font-size: 14px;
  font-weight: 600;

  span {
    color: var(--important);
  }
}

.search-section__sort-by select {
  font-weight: 600;
}

.search-section__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.search-section__button {
  display: block;
  width: 100%;
  margin-top: 24px;

  &:hover {
    background-color: var(--accent);
  }
}
