.section {
  margin-bottom: 80px;

  &--account {
    padding: 48px 0 80px;
  }

  &--auth-page {
    background-color: var(--white);
  }
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  &--account {
    margin-bottom: 32px;
  }
}

.section__intro {
  margin-right: 40px;

  p + p {
    margin-top: 8px;
  }
}

.section__title {
  margin-bottom: 16px;

  color: var(--black);
  font-family: var(--font-accent);
  font-size: 32px;
  font-weight: 600;
}

.section__description {
  max-width: 860px;
  
  color: var(--text-75);
  font-size: 16px;
}
