.select-ghost > .choices {

  &.is-focused {
    outline: none;

    &> .choices__inner {
      color: var(--accent);
    }
  }

  &[data-type*=select-one]::after {
    height: 18px;
    width: 18px;
    right: 0;
    top: 8px;
    background-size: 18px 18px;
  }

  &[data-type*=select-one].is-open::after {
    background-size: 18px 18px;
  }

  &> .choices__inner {
    height: auto;
    padding: 0 22px 0 0;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: 600;
  }
    
  &> .is-active.choices__list--dropdown,
  &> .is-active.choices__list[aria-expanded] {
    min-width: 130px;
    right: 0;
    border-color: #79747e;
    outline: none;
  }
    
  &> .choices__list--dropdown .choices__item {
    position: relative;
    padding: 10px 8px;
    font-size: 14px
  }

  &> .choices__list--dropdown .choices__item--selectable.is-highlighted,
  &> .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: var(--accent-hover)
  }  
}
