.subscribe-form {
  display: grid;
  grid-template-columns: 473px 104px;
  grid-template-rows: 56px;
  gap: 16px;
}

.subscribe-form__input {
  border: none;
}

.subscribe-form__input::placeholder {
  opacity: 0.65;
}

.subscribe-form__button {
  height: 56px;
}
