.tabs {
  display: flex;
  height: 80px;
  gap: 48px;

  padding: 17.5px 24px;

  background-color: var(--white);
  border-radius: 12px;
  box-shadow: var(--dark-shadow);

  &--two > .tab {
    width: 50%;
  }

  &--three > .tab {
    width: 33.3%;
  }

  &--four > .tab {
    width: 25%;
  }
}
