.tabs {
  display: flex;
  height: 80px;
  gap: 48px;

  margin-bottom: 40px;
  padding: 17.5px 24px;

  background-color: var(--white);
  border-radius: 12px;
  box-shadow: var(--dark-shadow);
}

.tab {
  position: relative;
  width: 50%;
  
  text-align: left;

  &:not(:first-child) {
    
    &::before {
      content: "";
      position: absolute;
      left: -24px;
      bottom: 0;
    
      display: block;
      width: 1px;
      height: 48px;
      background-color: #d7e2ee;
    }
  }

  &--with-note {
    &:not(:first-child) {
    
      &::before {
        content: "";
        position: absolute;
        left: -24px;
        bottom: 0;
      
        display: block;
        width: 1px;
        height: 48px;
        background-color: #d7e2ee;
      }
    }
  }

  &.active::after {
    content: "";
    position: absolute;
    left: -9px;
    bottom: -18px;
  
    display: block;
    width: calc(100% + 9px);
    height: 5px;
  
    background-color: var(--accent);
  }
}

.tab__title {
  font-size: 16px;
  font-weight: 500;

  &--with-note {
    margin-bottom: 8px;
  }
}

.tab__note {
  color: var(--text-40);
  font-size: 14px;
}

.tab__content {
  margin-top: 40px;
}

.tab__wrapper {
  display: none;
  width: 100%;

  &--active {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
