.user-account__avatar {
  position: relative; 

  &--big {
    width: 64px;
    height: 64px;
    margin-right: 0;
  }
}

.user-account__picture {
  width: 45px;
  height: 45px;
  
  margin-right: 6px;
}

.user-account__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 45px;
}

.user-account__name {
  margin-bottom: 4px;

  font-size: 16px;
  font-weight: 500;
}

.user-account__status {
  color: var(--text-75);
  font-size: 14px;
}
